._benefits{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 2rem;
    padding: 0.5rem;
    text-align: center;
}

._benefits > h2{
    font-size: 2rem;
    font-weight: bold;
}
span{
    color: #3B82F6;
    font-weight: bold;
}