
._sections {
    margin-top: 3rem;
    text-align: center;
    background-color: #f5f5f5; 
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
._sections > h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif; 
  color: #333; 
  margin-bottom: 1rem; 
}




span {
    color: #3B82F6; 
    font-weight: bold;
    text-decoration: underline; 
  }
  

  .plans-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    min-width: 100%;
  }
  

.plans-container > * {
    width:100%;
    padding: 1em;
    max-width: 45em;
}
ng-container{
    width:100%;
}

.subtext {
    line-height: 1.6;
    font-size: 1.1rem;
    color: #666; 
  }
  
p{
    font-weight:600;
    color: #444; 

}

ul{
    list-style: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li {
    background-color: #e7e7e7; 
    padding: 0.5rem;
    border-radius: 5px; 
  }
  @media (max-width: 768px) {
    .plans-container {
      flex-direction: column; 
    }
  }
  