section {
    position: absolute;
    width: 300px;       /* Fixed width */
    height: 150px;      /* Fixed height */
    top: 50%;           /* Center vertically */
    left: 100%;          /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's dimensions */
    z-index: 100;       /* Ensure it's above other elements if necessary */
}
.input-box{
    display:flex;
    justify-content: center;
}

.text-box-container{
    position:relative;
}

.left-button{
    left:-5%;
  
}

.right-button{
    right: -5%;
}

.right-button, .left-button{
    position: absolute;
    z-index: 100;
    background-color: #4895ef;
}

.hidden{
    display: none;
}

.right-button, .left-button > *{
    color:white;
}



