
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.input-box{
    display:flex;
    justify-content: center;
    width:100%;
}

