
<section class="_hero">
    <div class="_hero_title_container">
        <h1>Elevate PDF Collaboration
            <span>AI-powered teamwork</span> on every page.
        </h1>
    </div>

    <div class = "_hero_text_container">
        <p> Unlock collaborative genius in PDFs—discuss, annotate, and explore with your team in real-time, powered by AI. </p>
    </div>

    <div class = "_hero_button_container">
        <p-button label="Submit" [loading] = loading icon="pi pi-bolt" iconPos="right" (onClick) = "goToSignup()"></p-button>
    </div>

</section>