<!-- Updated mobile-nav.component.html -->
<nav class="mobile-nav" [ngClass]="{'menu-open': menuOpen}">
    <i class="pi pi-bars" (click)="toggleMenu()"></i>

    <section class="dropdown">
        <picture>
            <img src="assets/images/logo.jpeg" alt="Logo">
        </picture>

        <ul class="dropdown-items">
            <li class="dropdown-item">
                <a>Try it</a>
            </li>
            <li class="dropdown-item">
                <a>Features</a>
            </li>
            <li class="dropdown-item">
                <a>Use Cases</a>
            </li>
            <li class="dropdown-item">
                <a>Prices</a>
            </li>
            <li class="dropdown-item">
                <a>FAQ</a>
            </li>
        </ul>

        <p-button label="Try ChatToPDF Now!"></p-button>
    </section>
</nav>
