.mobile-nav {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    z-index: 1;
  }

  i{
    margin-top: 0;
  }
  
  .pi-bars {
    font-size: 2rem;
    color: var(--dot-color);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5em;
  }
  
  .menu-open .pi-bars {
    transform: rotate(90deg);
    background-color: var(--open-menu-background-color);
  }
  
  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 0.5em;
    padding: 1rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    transition-delay: 0s, 0.3s; 
    gap: 1em;

  }
  
  .menu-open .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 95vw;
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
    visibility: visible; 
    transition-delay: 0s; 
  }

  ._dropdown-logo{
    width: 60%;
    height: 60%;
    object-fit: cover;
  }

  .logo{
    width:30%;
    height:30%;
  }


  picture > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .dropdown-items{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    list-style: none;
    align-items: center;
    width:100%;
    gap: 1em;
    padding: 0.5em;
  }

  .dropdown-item{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  
  